
#subright a{color:#333333; text-decoration: none;}
#subright a:hover{color:#ff0000;text-decoration:underline;}




/* ----------产品详情---------- */
.pathDir{padding:8px 10px 9px 10px;margin-bottom:1px;color:#000;background:url(../images/ptitle.gif) repeat-x; height:20px;}
.pathDir h3{padding-left:20px;font-weight:normal; float:right}
.pathDir h4{padding-left:30px;font-weight:bold; float:left; color:White; font-size:14px;}
#subright{float:right;height:auto;width:258px;}
.subRNews{line-height:22px;margin-bottom:8px;border:1px solid #ddd;height:100%;background-image:url(../images/rightt.gif); background-repeat:no-repeat}
.subRNews h3{padding:4px 5px 4px 27px;color:#444;font-size:12px;border-bottom:0px solid #e2e8e3}
.subRNews ul{padding:5px;}
#subright .subProWxtx {padding:10px;}
#subProleft0{float:left;width:690px; margin:0px; padding:0px}

#subProleft{float:left;width:688px;line-height:22px;font-size:14px;color:#666666;border:1px solid #e8e6e8;border-top:none}
#proDetail{margin-top:0px;}
#proDetail h1{margin:auto;margin-top:20px;text-align:center; font-weight:normal;font-size:26px;font-family:"黑体";color:#000;position:relative}
#proDetail h1 span{padding:5px 10px;}
#proDetail .proPic{width:600px;border:0px solid #e8e6e8;margin:10px auto;padding:3px;background:#fff;position:relative; z-index:0}
#proDetail .proPic img{border:1px solid #e8e6e8;padding:3px;}
#proDetail .proPic .left{position:absolute;left:-160px;top:165px;}
#proDetail .proPic .left a{display:block;width:100px;height:100px;background:url(../images/pr.gif);}
#proDetail .proPic .left a:hover{display:block;width:100px;height:100px;background:url(../images/prON.gif);}
#proDetail .proPic .right{position:absolute;width:100px;height:100px;left:373px;top:165px;}
#proDetail .proPic .right a{display:block;width:100px;height:100px;background:url(../images/next.gif);}
#proDetail .proPic .right a:hover{display:block;width:100px;height:100px;background:url(../images/nextON.gif);}

#proDetail .proPic .leftPic{position:absolute;left:0px;top:-1px; z-index:9999}
#proDetail .proPic .leftPic a{display:block;width:155px;height:420px;}
#proDetail .proPic .leftPic a:hover{display:block;width:155px;height:420px;}
#proDetail .proPic .rightPic{position:absolute;width:155px;height:420px;left:163px;top:-1px; z-index:9999}
#proDetail .proPic .rightPic a{display:block;width:155px;height:420px;}
#proDetail .proPic .rightPic a:hover{display:block;width:155px;height:420px;}

#proDetail .proSmall{background:#fff;border:1px solid #e6e6e6;padding:8px;height:105px;overflow:hidden;width:546px;overflow:hidden; margin:0 auto}
#proDetail .proSmall .up{float:left;width:20px;height:105px;}
#proDetail .proSmall .down{float:right;width:20px;height:105px;}
.rollBox {width:526px;overflow:hidden;float:left;margin-left:0px;}
.rollBox .Cont{width:526px;overflow:hidden;margin:0 auto;}
.rollBox .ScrCont{width:10000000px;}
.rollBox .Cont li{float:left;width:114px;height:105px;background:#fff;margin:0 10px 0 10px;display:inline; text-align:center}
    .rollBox .Cont li img {
        height: 105px;
        width: 105px;
    }
.rollBox .Cont li a{display:block;width:112px;height:103px;border:1px solid #ccc;overflow:hidden; text-align:center}
.rollBox .Cont li a:hover,.rollBox .Cont li .current{display:block;width:112px;height:103px;background:#fff;border:1px solid #e00;overflow:hidden}
*+html .rollBox .Cont li{float:left;width:80px;height:105px;background:#fff;margin:0 2px 0 3px;display:inline}
.rollBox #List1, .rollBox #List2{float:left;}

#proDetail .proSmall .proS{float:left;margin-left:5px;}
#proDetail .proSmall .proS li{float:left;width:80px;height:105px;background:#fff;margin:0 2px 0 3px;display:inline}
#proDetail .proSmall .proS li a{display:block;width:78px;height:103px;border:1px solid #fff;overflow:hidden}
#proDetail .proSmall .proS li a:hover{display:block;width:78px;height:103px;background:#fff;border:1px solid #e00;overflow:hidden}
#proDetail .proDescrip{background:#f5fff1;padding:5px 0 5px 200px;;border:1px solid #abdc97;text-align:center;margin:20px auto 30px auto;}
.proDescrip strong{color:#FF0000}
#proDetail .dlcs{position:absolute;left:347px;top:-1px;}
#proDetail .proTBg{margin-top:10px;border-top:0px solid #ddd;padding:0px 0 0 0;font-size:12px;background:#fff; }
/*#proDetail .proTBg h3{ background:url(../images/index-sp.png) no-repeat 0 0;float:left; display:block; _display:inline; margin-left:20px; width:194px; height:41px; font-size:18px; overflow:hidden; line-height:41px; color:#fff; text-indent:10px;background-position:-10px -47px;}*/
#proDetail .proTBg h3{background:url(../images/redtip.png) #e9e9e9; background-repeat:no-repeat;line-height:41px;height:41px; font-size:18px;  color:#fff; text-indent:10px; font-family:"微软雅黑"; font-weight:bold}
#proDetail .proTBg p{padding:15px; display:block; margin: auto 10px}
.messWarn{padding:15px 0 18px 0;margin:20px;font-size:28px;font-family:"微软雅黑";color:#04a400;text-align:center;background:#ffffe5;border:1px solid #ffcc7f}
.messWarn2{margin:10px 0px 0px 25px; padding:10px; line-height:28px;}
.respect{margin:10px auto}
.respect p{font-size:18px;text-indent:40px;font-family:"黑体";color:#000;padding:17px 5px 5px 100px}
.Contentbox{margin-top:0px;text-align:center;padding:10px;background:#fff;font-size:12px;}
.Contentbox input{border:1px solid #ccc;line-height:18px;height:18px}
.Contentbox td{padding:3px 0; color:#000}
.textMessBg{background:#fff url(../images/logobgbg.gif) no-repeat center;font-size:12px;border:1px solid #ccc;height:100px;width:470px;padding:5px 0 0 10px;color:#ccc}
.Contentbox h3{font-size:14px;padding:10px 0 10px 15px; text-align:left;color:#FF6633}
.comment{text-align:left;background:#fff;margin:10px;padding:8px 10px 10px 12px;border:1px solid #e8e6e8}
.comment h3{padding:0 0 5px 0;border-bottom:1px solid #f8fff8}
.comment li{padding:5px 10px 5px 10px;border:1px dotted #ccc;margin-bottom:10px;}
.comment li h4{}
.comment li em{color:#666;font-weight:normal; font-style:normal; float:right}
.vip{width:428px;height:100%;overflow:hidden;background:url(../images/vipBg.jpg) repeat-y;margin:20px auto;color:#007911;font-weight:bold}
.vipT{height:106px;background:url(../images/vipT.jpg) no-repeat left top;}
.vipCont{background:url(../images/vipB.jpg) no-repeat left bottom;padding:10px 20px 20px 20px}
.vipCont table th{color:#666}
.vipCont table td{word-break:break-all}

.disy {display:block}
.undisy {display:none}
#NewsTop2{clear:both;border-top:0px solid #afce9e;}
#NewsTop2 P{float:left;line-height:30px;font-weight:bold;}
#NewsTop2 P.title{}
#NewsTop2 P.hoverOn{CURSOR:pointer;color:#fff;padding:0 10px;margin:0 5px;}
#NewsTop2 P.hover{COLOR:#FF6633;padding:0 10px;margin:0 5px;CURSOR:pointer;}
#NewsTop2 #NewsTop_tit2{height:35px;padding:5px 0 0 15px;  background-image:url(../images/liuyan.gif); background-repeat:no-repeat; }
#NewsTop2 #NewsTop_cnt2{background:#fff;border:1px solid #cccccc;border-top:none}

/* ----------产品展示---------- */
.subRNews .proCont{padding:1px 0 5px 1px}
.subRNews .proCont li{float:left;background:#fff;margin:4px; display:inline;overflow:hidden; line-height:20px;text-align:center; }
.subRNews .proCont li a{display:block;color:#666666;background:#f6f6f6;padding:2px; text-decoration:none;width:110px}
.subRNews .proCont li img { height:82px;  width:110px;  border:none }
.subRNews .proCont li a:hover{color:#026b9d;background:#f8f8f8}
.subRNews .proCont li span{ display:block;text-align:center;margin-top:2px;height:20px; line-height:20px;}

