.fliter .left a, .module_x .hd, .module_x .hd .s, .module_x .sq_form .b, .module_x .sq_form .s_btn, .module_x .left .tel {
    background: url(../images/zxList_sp.png) no-repeat 0 0;
}

.nav_qu {
    margin-top: 8px;
    background: #C21D1D;
}

    .nav_qu .item {
        float: left;
        border-right: 1px solid #FFF;
        padding-top: 2px;
        color: #fff;
        vertical-align: top;
    }

        .nav_qu .item a, .nav_qu .item span {
            display: block;
            background-color: #C21D1D;
            color: #fff;
            padding: 8px 20px;
            font-size: 14px;
            *zoom: 1;
            float: left;
            vertical-align: top;
        }

            .nav_qu .item a:hover {
                background-color: #d72d2d;
            }

        .nav_qu .item span {
            background-color: #c21d1d;
            padding: 8px 12px;
        }

        .nav_qu .item .active {
            background-color: #830000;
        }

    .nav_qu .more {
        position: relative;
        z-index: 3;
        *zoom: 1;
        margin-right: 0;
        width: 68px;
    }

        .nav_qu .more .po {
            position: absolute;
            top: 37px;
            left: 0;
            display: none;
        }

            .nav_qu .more .po a {
                padding: 5px 20px;
            }

.fliter {
    border-bottom: 1px solid #ddd;
    background-color: #f1f1f1;
    padding: 8px 8px 4px;
    font-size: 14px;
    margin-top: 10px;
}

    .fliter .left {
        float: left;
    }

    .fliter .right {
        float: right;
    }

    .fliter .left a {
        padding-left: 20px;
        background-position: -254px -58px;
    }

    .fliter .left .active {
        background-position: -254px -88px;
    }

    .fliter .right .num {
        color: #c00;
        font-size: 18px;
        line-height: 21px;
        font-weight: bold;
    }

.module_x {
    border: 1px solid #940606;
    margin-top: 10px;
      position:relative
}

    .module_x .hd {
        position: relative;
        z-index: 2;
        *zoom: 1;
        height: 30px;
        padding-top: 11px;
        background-repeat: repeat-x;
    }

        .module_x .hd .title {
            float: left;
            font-size: 14px;
            padding-left: 10px;
        }

            .module_x .hd .title a {
                color: #333;
            }

            .module_x .hd .title strong {
                font-weight: bold;
            }

        .module_x .hd .s {
            display: inline;
            float: left;
            height: 18px;
            overflow: hidden;
            text-indent: -999em;
            padding: 0;
            margin-left: 6px;
        }

        .module_x .hd .shiming {
            background-position: 0 -42px;
            width: 57px;
        }

        .module_x .hd .tuiguang {
            background-position: -58px -42px;
            width: 57px;
        }

        .module_x .hd .shiqiang {
            background-position: -116px -42px;
            width: 98px;
        }

        .module_x .hd .topic, .module_x .hd .topic2 {
            display: block;
            position: absolute;
            top: -10px;
            left: -10px;
            width: 45px;
            height: 40px;
            overflow: hidden;
            background: url(../images/top_num.png) no-repeat 0 0;
            color: #fff;
            padding: 24px 0 0 10px;
        }

        .module_x .hd .topic2 {
            background: url(../images/top_num2.png) no-repeat 0 0;
        }

            .module_x .hd .topic em, .module_x .hd .topic2 em {
                font-size: 20px;
                font-weight: bold;
            }

    .module_x .bd {
        padding: 10px;
    }

.col_main {
    float: left;
    width: 100%;
}

.col_sub, .col_extra {
    float: left;
}

.grid_01 .main_wrap {
    margin-right: 0
}

.grid_01 .col_sub {
    width: 217px;
    margin-left: -217px;
}

.case_list {
    border: 1px solid #87b1e5;
    background-color: #e9f5fe;
    padding: 10px 0 6px 14px;
    margin-top: 5px;
  
}

    .case_list li {
        float: left;
        display: inline;
        margin: 0 10px 0 5px;
        width: 135px;
        position: relative;
        *zoom: 1;
        z-index: 2;
    }

    .case_list img {
        vertical-align: top;
    }

    .case_list .title {
        display: block;
        margin-top: 3px;
        line-height: 20px;
        height: 20px;
        overflow: hidden;
        text-align: center;
    }

    .case_list .s_video {
        display: block;
        position: absolute;
        width: 12px;
        height: 12px;
        overflow: hidden;
        background: url(../images/anli_sp.png) no-repeat -180px -869px;
        top: 70px;
        right: 5px;
    }

.module_x .left {
    float: left;
    _display: inline;
    margin-right: 10px;
    width: 152px;
}

.module_x .right {
    float: left;
    width: 530px;
}

    .module_x .right h3 {
        font-size: 14px;
        font-weight: bold;
        color: #333;
    }

    .module_x .right p {
        margin: 3px 0 7px;
    }

    .module_x .right .f14 {
        font-size: 14px;
        position: relative;
        z-index: 2;
        *zoom: 1;
    }

    .module_x .right .shop {
        position: absolute;
        top: 0;
        right: 0;
        display: block;
    }

    .module_x .right .f14 em {
        font-weight: bold;
        color: #c00;
    }

.module_x .left img {
    padding: 5px;
    background-color: #fff;
    vertical-align: top;
    border: 1px solid #f3f3f3;
}

.module_x .left .title {
    color: #333;
    display: block;
    background-color: #f3f3f3;
    text-align: center;
    line-height: 25px;
    height: 25px;
    overflow: hidden;
}

.module_x .left a:hover .title {
    text-decoration: underline;
}

.module_x .left .tel {
    margin-top: 8px;
    padding: 7px 0 3px 35px;
    background-position: -237px -120px;
    font-size: 16px;
    font-weight: bold;
    color: #d00;
}

.module_x .tongji {
    margin: 6px 0 8px;
}

    .module_x .tongji em {
        color: #c00;
    }

.module_x .sq_form {
    border: 1px solid #e6e6e6;
    background-color: #f6f6f6;
    padding: 8px 8px 6px;
    margin-top: 8px;
}

    .module_x .sq_form .hd2 {
        font-size: 14px;
        font-weight: bold;
        color: #333;
        margin-bottom: 6px;
    }

    .module_x .sq_form li {
        vertical-align: top;
        padding: 5px 0;
        overflow: hidden;
        *zoom: 1;
    }

    .module_x .sq_form .a, .module_x .sq_form .b {
        display: block;
        float: left;
        vertical-align: top;
    }

    .module_x .sq_form .a {
        width: 70px;
        line-height: 29px;
        font-size: 14px;
    }

    .module_x .sq_form .b {
        width: 122px;
        background-position: 0 -61px;
        height: 24px;
        padding: 2px 3px 3px 2px;
    }

    .module_x .sq_form .s_ipt {
        background-color: transparent;
        border: 0 none;
        width: 113px;
        padding: 4px 4px 3px;
        line-height: 16px;
        height: 16px;
        vertical-align: top;
    }

    .module_x .sq_form .s_btn {
        margin-top: 3px;
        width: 155px;
        height: 29px;
        border: 0 none;
        padding: 0;
        vertical-align: top;
        background-position: 0 -91px;
        font: 0pt/1000px Arial;
        cursor: pointer;
        overflow: hidden;
    }

    .module_x .sq_form .center {
        text-align: center;
    }

.module_x .history {
    margin-top: 10px;
}

    .module_x .history li {
        line-height: 24px;
        height: 24px;
        overflow: hidden;
    }

    .module_x .history em {
        color: #398303;
    }


.pageNavigation {
    margin: 20px 0;
}
